@inherits LayoutComponentBase


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/TheKrzyko/SimpleTesterOnline"><span class="oi oi-code mr-2"></span>Source</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


