@page "/"
@inject IFileReaderService fileReaderService
@using QuizData
<MatHeadline4>SimpleTesterOnline</MatHeadline4>
<MatBlazor.MatDivider/>
<MatCaption>Załaduj plik z pytaniami</MatCaption>

<input type="file" @ref="inputFileReference" @onchange="OnFileChanged"/>

<div>
    @((MarkupString)quizInfo)
</div>
@code{
    ElementReference inputFileReference;

    string quizInfo = "";

    IFileReaderRef fileReaderReference;

    protected override void OnAfterRender(bool isFirstRender)
    {
        if(isFirstRender)
            fileReaderReference = fileReaderService.CreateReference(inputFileReference);
    }

    async Task OnFileChanged()
    {
        var nl = "<br/>";
        
        var files = (await fileReaderReference.EnumerateFilesAsync()).ToList();
        var file = files.First();
        var parser = new DefaultQuizParser();
        var fileInfo = await file.ReadFileInfoAsync();
        var quiz = parser.Load(await file.CreateMemoryStreamAsync());
        quizInfo = "Loaded: " + fileInfo.Name + nl +
            "Version: " + quiz.version + nl +
            "First example question: " + nl +
            quiz.questions[0].ToString();
        this.StateHasChanged();
    }
}